<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ScreenMagnificationFactor" value="0.75" />
    <add key="SleepBeforeScreenCaptureMs" value="500" />
  </appSettings>
  
  <system.serviceModel>

    <behaviors>
      <endpointBehaviors>
        <behavior name="sharedSecretClientCredentials">
          <transportClientEndpointBehavior credentialType="SharedSecret">
            <clientCredentials>
              <!-- Replace placeholders ISSUER_NAME and ISSUER_SECRET with their values -->
              <sharedSecret issuerName="ISSUER_NAME" issuerSecret="ISSUER_SECRET" />
            </clientCredentials>
          </transportClientEndpointBehavior>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="default">
          <serviceDebug httpHelpPageEnabled="false" httpsHelpPageEnabled="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
    <!-- Application Service -->
    <service name="ScreenShare.CommService" behaviorConfiguration="default">
      <host>
        <baseAddresses>
          <!-- Replace placeholder SERVICE-NAMESPACE with its value -->
          <add baseAddress="https://SERVICE-NAMESPACE.servicebus.windows.net/ScreenShare" />
        </baseAddresses>
      </host>
        <endpoint name="RelayEndpoint0" contract="ScreenShare.ICommContract" binding="webHttpRelayBinding" bindingConfiguration="default" behaviorConfiguration="sharedSecretClientCredentials" address="RemoteScreen" />
        <endpoint name="RelayEndpoint1" contract="ScreenShare.ICommContract" binding="webHttpRelayBinding" bindingConfiguration="default" behaviorConfiguration="sharedSecretClientCredentials" address="Picture" />
    </service>
    </services>

    <bindings>
        <!-- Application Binding -->
        <webHttpRelayBinding>
          <binding name="default">
            <security relayClientAuthenticationType="None"/>
          </binding>
        </webHttpRelayBinding>
      </bindings>

    </system.serviceModel>
</configuration>
